<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gz.medicine.yun.doctor.mapper.DTfollowupTemplateMapper">
  <resultMap id="BaseResultMap" type="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="CREATENAME" jdbcType="VARCHAR" property="createname" />
    <result column="UPDATEDATE" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="UPDATENAME" jdbcType="VARCHAR" property="updatename" />
    <result column="FOLLOWTYPE" jdbcType="VARCHAR" property="followtype" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, USERID, TITLE, CONTENT, TYPE, STATE, CREATEDATE, CREATENAME, UPDATEDATE, UPDATENAME
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CHIS_FOLLOWUP_TEMPLATE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CHIS_FOLLOWUP_TEMPLATE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    insert into CHIS_FOLLOWUP_TEMPLATE (ID, USERID, TITLE, 
      CONTENT, TYPE, STATE, 
      CREATEDATE, CREATENAME, UPDATEDATE, 
      UPDATENAME,followtype)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{createname,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{updatename,jdbcType=VARCHAR},  #{followtype ,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    insert into CHIS_FOLLOWUP_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="createname != null">
        CREATENAME,
      </if>
      <if test="updatedate != null">
        UPDATEDATE,
      </if>
      <if test="updatename != null">
        UPDATENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        #{updatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    update CHIS_FOLLOWUP_TEMPLATE
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createname != null">
        CREATENAME = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null">
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        UPDATENAME = #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="followtype != null">
      followtype = #{followtype,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    update CHIS_FOLLOWUP_TEMPLATE
    set USERID = #{userid,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      CREATENAME = #{createname,jdbcType=VARCHAR},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      UPDATENAME = #{updatename,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--随访模板 www-->
  <select id="queryPageFollow" resultMap="BaseResultMap" parameterType="com.gz.medicine.common.mybatisPageVo.Page">
    select a.followTYPE,
    a.id,
    a.TITLE,
    a.CONTENT,
    a.TYPE,
    a.STATE,
    a.USERID
    from CHIS_FOLLOWUP_TEMPLATE a, usr b
    where a.USERID = b.guid
    and a.STATE = '1'
    <if test = "title != null and title != ''">
      and title like '${'%'+ title +'%'}'
    </if>
    <if test = "type != null and type != ''">
      and a.type = #{type, jdbcType = VARCHAR}
    </if>
    and a.USERID = #{userid, jdbcType = VARCHAR}
    order by createdate desc
  </select>




  <!--假删 www-->
  <update id="updateState" parameterType="com.gz.medicine.yun.doctor.bean.DTfollowupTemplate">
    update CHIS_FOLLOWUP_TEMPLATE
    set STATE = #{state,jdbcType=VARCHAR},
    UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>