<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gz.medicine.yun.doctor.mapper.DTmessageTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    <id column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="ORG" property="org" jdbcType="VARCHAR" />
    <result column="DOCGUID" property="docguid" jdbcType="VARCHAR" />
    <result column="TEMPLATENAME" property="templatename" jdbcType="VARCHAR" />
    <result column="TEMPLATECONTENT" property="templatecontent" jdbcType="VARCHAR" />
    <result column="CRTUSR" property="crtusr" jdbcType="VARCHAR" />
    <result column="CRTDAT" property="crtdat" jdbcType="TIMESTAMP" />
    <result column="UPDATEUSR" property="updateusr" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR"></result>
  </resultMap>
  <sql id="Base_Column_List" >
    GUID, ORG, DOCGUID, TEMPLATENAME, TEMPLATECONTENT, CRTUSR, CRTDAT, UPDATEUSR, UPDATEDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CHIS_MESSAGE_TEMPLATE
    where GUID = #{guid,jdbcType=VARCHAR}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CHIS_MESSAGE_TEMPLATE
    where GUID = #{guid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    insert into CHIS_MESSAGE_TEMPLATE (GUID, ORG, DOCGUID, 
      TEMPLATENAME, TEMPLATECONTENT, CRTUSR, 
      CRTDAT, UPDATEUSR, UPDATEDATE
      )
    values (#{guid,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, #{docguid,jdbcType=VARCHAR}, 
      #{templatename,jdbcType=VARCHAR}, #{templatecontent,jdbcType=VARCHAR}, #{crtusr,jdbcType=VARCHAR}, 
      #{crtdat,jdbcType=TIMESTAMP}, #{updateusr,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    insert into CHIS_MESSAGE_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        GUID,
      </if>
      <if test="org != null" >
        ORG,
      </if>
      <if test="docguid != null" >
        DOCGUID,
      </if>
      <if test="templatename != null" >
        TEMPLATENAME,
      </if>
      <if test="templatecontent != null" >
        TEMPLATECONTENT,
      </if>
      <if test="crtusr != null" >
        CRTUSR,
      </if>
      <if test="crtdat != null" >
        CRTDAT,
      </if>
      <if test="updateusr != null" >
        UPDATEUSR,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="org != null" >
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="docguid != null" >
        #{docguid,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="templatecontent != null" >
        #{templatecontent,jdbcType=VARCHAR},
      </if>
      <if test="crtusr != null" >
        #{crtusr,jdbcType=VARCHAR},
      </if>
      <if test="crtdat != null" >
        #{crtdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateusr != null" >
        #{updateusr,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    update CHIS_MESSAGE_TEMPLATE
    <set >
      <if test="org != null" >
        ORG = #{org,jdbcType=VARCHAR},
      </if>
      <if test="docguid != null" >
        DOCGUID = #{docguid,jdbcType=VARCHAR},
      </if>
      <if test="templatename != null" >
        TEMPLATENAME = #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="templatecontent != null" >
        TEMPLATECONTENT = #{templatecontent,jdbcType=VARCHAR},
      </if>
      <if test="crtusr != null" >
        CRTUSR = #{crtusr,jdbcType=VARCHAR},
      </if>
      <if test="crtdat != null" >
        CRTDAT = #{crtdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateusr != null" >
        UPDATEUSR = #{updateusr,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    update CHIS_MESSAGE_TEMPLATE
    set ORG = #{org,jdbcType=VARCHAR},
      DOCGUID = #{docguid,jdbcType=VARCHAR},
      TEMPLATENAME = #{templatename,jdbcType=VARCHAR},
      TEMPLATECONTENT = #{templatecontent,jdbcType=VARCHAR},
      CRTUSR = #{crtusr,jdbcType=VARCHAR},
      CRTDAT = #{crtdat,jdbcType=TIMESTAMP},
      UPDATEUSR = #{updateusr,jdbcType=VARCHAR},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP}
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <!-- 短信模板  模糊查询 -->
  <select id="queryPageSelectPrimary" resultMap="BaseResultMap" parameterType="com.gz.medicine.common.mybatisPageVo.Page">
    select 
    <include refid="Base_Column_List" />
    from CHIS_MESSAGE_TEMPLATE where DOCGUID=#{docguid,jdbcType=VARCHAR} and  1=1
<if test="templatename != null">
	and templatename like '${'%' + templatename + '%'}'
</if> 
and status='1' order by crtdat desc 
  </select>
 <!-- 模板的新增 -->
  <insert id="insertTemplate" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    insert into CHIS_MESSAGE_TEMPLATE (GUID, ORG,
      TEMPLATENAME, TEMPLATECONTENT,  
      CRTDAT,STATUS,DOCGUID
      )
    values (#{guid,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR},
      #{templatename,jdbcType=VARCHAR}, #{templatecontent,jdbcType=VARCHAR},
      #{crtdat,jdbcType=TIMESTAMP},#{status,jdbcType=VARCHAR},#{docguid,jdbcType=VARCHAR}
      )
  </insert> 
  <!-- 模板的编辑 -->
   <update id="updateByTemplate" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    update CHIS_MESSAGE_TEMPLATE
    <set >
      <if test="templatename != null" >
        TEMPLATENAME = #{templatename,jdbcType=VARCHAR},
      </if>
      <if test="templatecontent != null" >
        TEMPLATECONTENT = #{templatecontent,jdbcType=VARCHAR},
      </if>
      <if test="updateusr != null" >
        UPDATEUSR = #{updateusr,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <!-- 模板的假删 -->
   <update id="deleteByTemplate" parameterType="com.gz.medicine.yun.doctor.bean.DTmessageTemplate" >
    update CHIS_MESSAGE_TEMPLATE
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  
  
  
   <!-- 根据医生usrguid随访任务加载短信详情 -->
  <select id="loadDetails" resultMap="BaseResultMap" parameterType="java.lang.String">
    select  GUID,TEMPLATENAME,templatecontent from CHIS_message_Template
    where DOCGUID = #{docguid,jdbcType=VARCHAR} and  status=1
  </select>
  
</mapper>